.movies_cartaz{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0 8em 5em 8em;
    gap: 1em;
}

.movies_cartaz h1{
    font-family: 'Nunito Sans';
    font-weight: 700px;
    font-size: 42px;
    line-height: 65px;
    letter-spacing: 4%;
    color: #F2F4F7;
}

.movies{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
}

.individual_movie{
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.individual_movie h4{
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 24px;
    word-break: break-all;
    max-width: 10em;
}

.individual_movie a{
    margin-top: auto;
}

.individual_movie button {
    padding: 0.5em 1.15em;
    font-size: 1.15em;
    background-color: #CC8000;
    color: white;
    font-family: 'Poppins';
    border-radius: 10px;
    cursor: pointer;
}
.individual_movie > img {
    height: 21.25rem;
}


.btnSeeMore{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: underline #F2F4F7;
    font-size: 1.4em;
}

.ver_mais{
    width: 100%;
    display: flex;
    justify-content: end;
}

.linkToFilmes{
    width: fit-content;
    display: flex;
    cursor: pointer;
    justify-content: end;
}
