* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.introduction_section{
    min-height: 19em;
    background-size: cover;
    background-image: url(../../Assets/Fundo.svg);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.introduction_titles {
    margin: -2em 0 0 2em;
    padding: 0;
}


.introduction_text{
    color: white;
}

.introduction_text h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 48px;
    font-weight: 700px;
}

.introduction_text h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
}


