.main_section{
    background: linear-gradient(0deg, rgba(0,38,77,1) 0%, rgba(1,17,33,1) 100%);
    min-height: 50vh;
    box-shadow: 0px 25px 20px rgba(0,38,77,1);
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    color: white;
    gap: 2em;
    font-family: "Darker Grotesque";
}

.main_section::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../assets/Fundo-Ingresso.svg);
    background-size:contain;
    background-repeat: repeat;
    z-index: -1;
    background-position: top;
    background-size: auto;
    opacity: 0.16;
    box-shadow: 0px 50px 20px rgba(0,38,77,1);
}


.main{
    height: 100%;
    position: relative;
}





