.container{
    position: relative;
    margin-top: 5rem;
    margin-left: 5vw;
    display: flex;
    align-items: center;
}
.gallery{
    display: flex;
    flex-flow: row nowrap;
    max-width: 80.25rem;
}
.galleryWrapper{
    display: flex;
    overflow-x: auto;
    
}
.galleryWrapper::-webkit-scrollbar {
    display: none;
  }
.galleryWrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.item{
    width: 80.25rem;
    height: 32.5rem;
    background-image: url(../assets/Card-Ingresso.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
}

.retangle{
    max-width: 68.125rem;
    height: 27.375rem;
    background-color: #E6A352;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popcornImage{
    max-width:  18rem;
    height: 18rem;
    margin-left: 3rem;
}
.retangleContent{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3rem;
}
.textoCarousel{
    color: black;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
}
.descriptionCarousel{
    font-family: 'Nunito', sans-serif;
    color: black;
    max-width: 40rem;
}


.buttonToLeft{
    position: relative;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    flex: none;
    border: none;
    background-color: #D82F1E;
    z-index: 1;
    margin-right: -3em;
    background-image: url("../assets/Vectorleft.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.buttonToRight{
    border-radius: 50%;
    right: 17%;
    margin: 0 0em;
    width: 5rem;
    height: 5rem;
    align-self: center;
    transform: translateX(-60%);
    flex: none;
    border: none;
    background-color: #D82F1E;
    background-image: url("../assets/VectorRigth.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.buttonToLeft:hover{
    background-color: #1c3870;
}
.buttonToRight:hover{
    background-color: #1c3870;
    transform: translateX(-60%);

}
.galleryWrapper > img{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
}

.galleryWrapper > img:first-child{
    max-width: 100%;
}

.diminuir{
    display: flex;
    justify-content: center;
}

@media (max-width: 1546px) {
    .galleryWrapper > img:last-child{
        padding-right: 0em;
    }
}
@media (max-width: 1300px) {
    .buttonToLeft{
        width: 4rem;
        height: 4rem;
    }
    .buttonToRight{
        width: 4rem;
        height: 4rem;
    }
}
@media (max-width: 1100px) {
    .buttonToLeft{
        width: 3rem;
        height: 3rem;
        margin-right: -1.7rem;
    }
    .buttonToRight{
        width: 3rem;
        height: 3rem;
    }
}
@media (max-width: 850px) {
    .buttonToLeft{
        width: 2rem;
        height: 2rem;
        margin-right: -1.7rem;
    }
    .buttonToRight{
        width: 2rem;
        height: 2rem;
    }
}