
*{
    font-family: 'Darker Grotesque';
}

.main_assentos {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-bottom: 8em;
}

/************************ ASIDE ************************/

aside {
    width: 25%;
    max-width: 21rem;
}

@media (max-width: 1415px){
    aside {
        margin:auto;
        width: 50%;
    }
}

.sessaoFilme{
    display: flex;
    max-width: 100%;
    color: whitesmoke;
    background: linear-gradient(0deg, rgba(0,38,77,1) 0%, rgba(1,17,33,1) 100%);
    box-shadow: 0px 25px 20px rgba(0,38,77,1);
}

.sessaoFilme img{
    border-radius: 10px;
    max-width: 10em;
}


.containerMovie{
    display: flex;
    gap: 20px;
    margin: 35px 2em;
    position: relative;
}
.containerMovie img{
    position: relative;
    margin-bottom: -3.5em;
}
.buttonsInfos button{
    width: 4em;
    height: 1.6em;
    font-weight: bolder;
    font-size: 19px;
    border-radius: 5px;
    border: none;
    margin-right: 15px;
    margin-top: 15px;
    background-color: #CC8000;
}

.infosFilme h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.225rem;
}

.assentos{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.assentosEscolhidosText{
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.assentos img{
    transform: translateY(20%);
    margin-right: 10px;
    width: 1.15em;
}

.assentosSelecionados{
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow-y: auto;
    height: 60vh;
    margin: auto;
    background-color: rgb(156, 155, 172);
    border-radius: 10px;
    margin-bottom: 60px;
}

.assentos button{
        /* padding: 5px 15px; */
        width: 6em;
        height: 2.8em;
        font-weight: bolder;
        font-size: 23px;
        border-radius: 5px;
        border: none;
        color: white;
        margin-top: 15px;
        background-color: #CC8000;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;   
} 


/******************MODAL***************/
.modalCheckout{
    width: 50rem;
    height: 24rem;
    color: white;
    background-color: #CC8000;
    border-radius: 1rem;
    border: none;
    padding: 3rem 3rem 1rem 3rem;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.modalContentCheckout > h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
    letter-spacing: 1px;
    
}

.modalContentCheckout > h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.7rem;
}
.modalCheckoutBttns {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 6rem;
    
}
.modalCheckoutBttns > button{
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    width: 16.424rem;
    height: 6.625rem;
    border-radius: 1.125rem;
    border: none;
    color: #F3F3F3;
}
.closeModalCheckout {
    background-color: #BB180F;
}
.confirmModalCheckout {
    background-color: #03B349;
}
.teste {
    display: flex;
    flex-direction: column;
}

.modalConcluded {
    color: white;
    background-color: #008912;
    width: 50rem;
    height: 22.188rem;
    border-radius: 1rem;
    border: none;
    padding: 3rem 3rem 1rem 3rem;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.modalConcludedBttn {
    display: flex;
    flex-direction: column;

}
.modalConcludedBttn > button {
    align-self: end;
    border: none;
    border-radius: 50%;
    color: black;
    background-color: rgb(34, 34, 34);
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
    flex: none;
    background-position:center;
    background-image: url("../assets/Group 46.svg");

}

.modalConcludedContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modalConcludedContent > h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 1px;
}

.modalConcludedContent > h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.7rem;
}

.modalConcludedContent > h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.4rem;
}


@media (max-width: 900px) {
    .modalCheckout {
        max-width: 100%;

    }
}

@media (max-width: 1360px) {
    .containerMovie{
        flex-direction: column;
        margin: 35px auto;
    }
    .containerMovie img {
        margin-bottom: 0;
    }
    .assentosEscolhidosText{
        flex-direction: column;
    }
    .assentosEscolhidosText h2 {
        max-width: 80%;
        text-align: center;
    }
}

/*****************************ASSENTOS************************/

.assentosSelecionados button{
    color: white;
    color: blue;
    width: 70px;
    height: 50px;
    margin: 0;
    background-color: rgb(3, 1, 27);
    border-radius: 18px 18px 0 0;
    margin: 2px;
}

.selecionado{
    max-height: 100%;
}

.assentosSelecionados{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1px;
    overflow-y: auto;
    /* max-height: 100%; */
}

.assentoSelecionado{
    width: 90%;
    height: fit-content;
    padding: 5px 5px;
    margin: auto;
}

.verBtn {
    background-color: #CC8000 !important;
    border:none !important;
    color: black;
    font-weight: bolder;
}

.buyBtn {
    background-color: #2B3955 !important;
    border:none !important;
    color: #2B3955;
}

.assentoSelecionado input{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.assentoNome{
    margin-top: 30px;
}

.assentoSelecionado hr{
    color: #004A9B;
}


button{
    border: none;
}

.btns button:hover{
    padding: 10px;
    transition: 0.1s;
    color: aliceblue;
    box-shadow: 3px 3px 10px green;

    background-color: green;
}

.revervar{
    display: flex;
    flex-direction: column;
}

.disposicaoDosLugares {
    display: flex;
    background-color: black;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.titulo {
    background-color: #CC8000;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.background {
    background-color: black;
    border-top-left-radius: 100% 10%;
    border-top-right-radius: 100% 10%;
    width: 100%;
    position: relative;
    bottom: 2em;
}

.lugares {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding-top: 3em;
    padding-bottom: 1.5em;
    border-bottom: 4px solid #9B9B9B;
}

.letrasEsq, .letrasDir {
    display: flex;
    flex-direction: column;
}

.letrasEsq {
    padding: 1rem 3rem 1em 1rem;
    gap: 2rem;
}

.letrasDir {
    padding: 1rem 1rem 1em 3rem;
    gap: 2rem;
}

.letras h5 {
    color: #9B9B9B;
}

.assentos_grid{
    display: grid;
    grid-template-columns: repeat(18, 1fr) ;
    grid-template-rows: repeat(10, 1fr);
    gap: 0.3em;
    row-gap: 0.8em;
    max-width: 100%;
    
}


.assentos_grid button {
    background: none;
    max-width: 30%;
    height: 80%;
    border: 3px solid #004A9B;
    padding: 1em 1em;
    border-radius: 10px 10px 0 0;
    appearance: none;
    display: flex;
    justify-content: center;
    
    
}
.verBtn {
    background-color: #CC8000 !important;
    border:none !important;
    color: black;
    font-weight: bolder;
    
}

/* .assentos_grid button:disabled{
    background-color: #CC8000;
} */

.legenda {
    width: 90%;
    margin-top: -1.3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.legenda h5 {
    color: #9B9B9B;
}

.botoes_legenda {
    display: flex;
    gap: 2em;
}

.botoes_legenda h5 {
    color: #9B9B9B;
}

.btn {
    display: flex;
    gap: 1em;
}

.btn button {
    background: none;
    padding: 0.8em 1em;
    border-radius: 10px 10px 0 0;
    appearance: none;
    cursor: default;
}

#btn_1 {
    border: 3px solid #004A9B;
}

#btn_2 {
    border: 3px solid #CC8000;
    background: #CC8000;
}

#btn_3 {
    border: 3px solid #2B3955;
    background: #2B3955;
    
}


@media (max-width:1400px){
    .disposicaoDosLugares{
        margin: 3% 3%;
    }
    .assentos_grid button {
        padding: 1vw 1vw;   
    }
    .main_assentos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

}

@media (max-width: 1300px) {
    .assentos_grid button{
        padding: 0.9vw 0.9vw;
    }
    
}

@media (max-width: 1200px) {
    .assentos_grid button{
        padding: 0.8vw 0.8vw;
    }
    
}

@media (max-width: 1000px) {
    .assentos_grid button{
        padding: 0.7vw 0.7vw;
    }
    .botoes_legenda {
        flex-direction: column;
    }
}    
