@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&family=Roboto:wght@400;500&display=swap');

.pageBody{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    position: relative;

    }
/* .pageBody::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../assets/Fundo-Ingresso.svg);
    background-repeat: repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.16;
} */
.contactCard{
    width: 30.5rem;
    height: 45.125rem;
    background-color: #004A9B;
    margin: 3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0.04em;
    text-align: left;
    /* font-family: "Gro"; */
    color: #F2F4F7;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.mensage{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: 0.04em;
    text-align: center;
    font-family: 'roboto', sans-serif;
    color:#F2F4F7;
    font-size: 1.5rem;
    font-weight: 500;
}
.inputName{
    margin-top: 1rem;
    height: 2.75rem;
    width: 21.3rem;
    padding: 0 1rem;
    font-size: 1.2rem;
    background-color: #d2dbff;
    box-shadow: black 0px 4px 15px -7px;
    border-radius: 10px;
    border: none;
}
textarea{
    margin-top: 1rem;
    background-color: #d2dbff;
    padding: 1rem 1rem;
    box-shadow: black 0px 4px 15px -7px;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    width: 21.3rem;
    height: 16.6rem;
    font-size: 1.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btnSendFaleConosco{
    color: white;
    margin-top: 1rem;
    background-color: #6d98fb;
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 10px;
    box-shadow: black 0px 4px 15px -7px;
    width: 9.125rem;
    height: 3rem;
    font-weight: 600;
}
.btnSendFaleConosco{
    color: #f3f3f3;
    margin-top: 1rem;
    background-color: #6d98fb;
    font-size: 1.5rem;
    font-family:'Poppins', sans-serif;
    border-radius: 10px;
    box-shadow: black 0px 4px 15px -7px;
    width: 9.125rem;
    height: rem;
    font-weight: 600;
    transform: scale(1.2);
}

::placeholder{
    font-family: 'robboto', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.438rem;
    letter-spacing: 0.05em;
    text-align: left;
}