@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Darker+Grotesque:wght@300;400;500;600;700&family=Inter&family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,600;6..12,700&family=Roboto:wght@300;400;500;700;900&display=swap');
.mainFilmes{
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10%;
    gap: 0 5rem;
}
.bodyPageFilmes{
    display: flex;
    flex-direction: column;
}

.searchArea{
    background-color: #004A9B;
    width: 100%;
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.searchBarAlign{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBar{ 
    width: 65.875vw;
    border-radius: 1.5rem;
    height: 2.5rem;
    padding: 1rem;
    font-size: 1.25rem;
    border: none;
}
.submitSearch{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #00264D;
    background-image: url(../assets/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border: none;
    transform: translateX(-75%);
    transition: none;
}
.submitSearch:hover{
    transform: translateX(-75%) scale(1.1);
}
.typeFilter{
    background-color: #00557B;
    padding-left: 1rem;
    width: 19.375rem;
    height: 3.25rem;
    font-size: 1.25rem;
    color: white;
    border: none;
    margin-right: 2rem;
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
    
}
.styleForFilters{
    display: flex;
    overflow: hidden;
    border-radius: 11px;

}
.styleForFilters::before{
        display: flex;
        content: "";
        width: 16px;
        height: 3.25rem;
        background-color: #0066CC;
}
.filters{
    display: flex;
    width: 75vw;
    margin-top: 3rem;
    margin-left: 3rem;

}

.filterStyleFigure{
    transform: translateX(100%);
}
.filmesTitle{
    color: white;
    margin: 6rem 0rem 6rem 10%;
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;

}

.staticCard{
    background-image: linear-gradient( to bottom, #00264D, #001225);
    width: 29rem;
    height: 69rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    
}
.imageCard{
    width: 26.375rem;
    height: 39rem;
    margin-top: 1rem;
}
.imageCard img{
    width: 100%;
    height: 39rem;

}
.nameAndClassification{
    margin-top: 1rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;

}
.filmInfo{
    margin-top: 1rem;
    margin-left: 1.25em;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    gap: .6em;
    color: white;
    word-break: break-all;
}
.paginationBttns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    gap: 3px;
}
.numberBttns{
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color:  #00264D;
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 7px;
    border: none;  
} 
.numberBttns:disabled {
    background-color: #0092C3;
}
.bttnPrevious{
    width: 4.25rem;
    height: 4.25rem;
    background-color:  #004Acc;
    border: none;
    border-radius: 27px 7px 7px 27px;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-image: url();
}
.bttnNext{
    width: 4.25rem;
    height: 4.25rem;
    background-color: #004Acc;
    border: none;
    border-radius: 7px 27px 27px 7px;
    color: white;
    font-family: 'Poppins', sans-serif;
}


  


.seeSection{
    margin-top: auto;
    width: 12.8rem;
    height: 3rem;
    border-radius: 10px;
    background-color: #CC8000;
    color: white;
    font-size: 1.5rem;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
.menu{
    margin-bottom: 6rem;
}

.img_classificacao {
  
    border-radius: 5px;
}

.nameAndClassification img {
    max-width: 40px;
    max-height: 40px;
}
