footer{
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #00264D;
    width: 100%;
}

.footer_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    padding: 50px; 
}

.footer_infos{
    display: flex;
    align-items: start;
    font-family: "Roboto";
}

.footer_infos h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 4%;
} 

.footer_infos h5{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 5%;
    margin-top: .8rem;
}

.footer_infos div{
    width: 15em;
}

.endereco h3{
    line-height: 3px;
}

.endereco h5{
    font-weight: 400;
}

.fale h5{
    font-weight: 400;
}

.fale h3{
    line-height: 3px;
}

.fale{
    margin-top: 50px;
}

.fale img {
    margin-top: 8px;
    margin-right: 8px;
}


.ingresso{
    width: 20vw;
}

.direitos{
    background-color: #1A386A;
    display: flex;
    justify-content: center;
    padding: 20px;

}
.direitos h5{
    font-size: 1em;
}

@media (max-width: 700px) {
    .footer_section {display: flex;
                    flex-direction: column;}
    .ingresso {width: 133px;
               margin: 20% 0% 20% 0%;}
    .icons {display: flex;
            justify-content: center;}
    .footer_infos {text-align: center;}
                   
}

@media (max-width: 900px) and (min-width: 700px) {
    .ingresso {width: 19vw}
    .footer_section {gap: 3%}
    iframe {width: 250px;
            height: 180px;}
       
}

@media (max-width: 800px) {
    iframe {width: 240px;
            height: 170px}
    .footer_section {gap: 2.8%}
    .icons > img {width: 25px;
                  height: 25px}
}