.header_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0066CC;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    position: relative;
}

.images_section{
    display: flex;
    align-items: center;
}

.images_section .h3 {
    transform: translateX(-30%);
    font-size: 45px;
    font-weight: 800;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.5);
}
.icons_header a{
    margin-left: 15px;
}
.btnHeader{
    background: none;
    border: none;
    cursor: pointer;
}

.btnLogo:hover{
    transform: scale(1.1);
}

.btnLogo {
    display: flex;
}

.btnLogo > button:hover {
    transform: scale(1); 
}

@media (max-width: 400px) {
    .images_section {
        max-width: 80%;
    }
}
@media (max-width: 340px) {
    .header_section{
        flex-direction: column;
    }
}



       

