.main{
  background: linear-gradient(0deg, rgba(0,38,77,1) 0%, rgba(1,17,33,1) 100%);
  /* background-color: black; */
  min-height: 50vh;
  box-shadow: 0px 25px 20px rgba(0,38,77,1);
  margin-bottom: 90px;
  display: flex;
  align-items: center;
  color: white;
  gap: 2em;
  font-family: "Darker Grotesque";
}


.main::before{
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../assets/Fundo-Ingresso.svg);
  background-size:contain;
  background-repeat: repeat;
  z-index: -1;
  background-position: top;
  background-size: auto;
  opacity: 1;
  box-shadow: 0px 50px 20px rgba(0,38,77,1);
}



.App {
    text-align: center;
  }

  body{
    background-color: black;
    position: relative;
  }

  body::after{
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../assets/Fundo-Ingresso.svg);
  background-size:contain;
  background-repeat: repeat;
  z-index: -1;
  background-position: top;
  background-size: auto;
  opacity: 0.16;
  box-shadow: 0px 50px 20px rgba(0,38,77,1);
  }
  
  *{
    box-sizing: border-box;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  