
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Darker+Grotesque:wght@300;400;500;600;700&family=Inter&family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,600;6..12,700&family=Roboto:wght@300;400;500;700;900&display=swap');

.mainLogin{
    display: flex;
    background-image: url(../assets/Fundo-Ingresso.svg);
    background-size: cover;
    z-index: 10;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 6em 0;
}

.logoPosition{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.imageLogo{
    display: flex;
}

.logoText{
    font-size: 8.75rem;
    font-weight: 800;
    color: #D2DBFF;
    font-family: 'Nunito', sans-serif;
    text-shadow: 8px 6px #00264D;
    z-index: 1;
}
.logoIcon{
    width: 19rem;
    position: absolute;
    left: -10em;
    z-index: 1;
}

.loginDescription{
    max-width: 36.25rem;
    z-index: 4;
}

.formLogin{
    width: 24.325rem;
    height: 37.5rem;
    background-color: #004a9b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-sizing: content-box;
    padding: 0 3rem;
}
.loginSubtitle{
    font-family: 'Nunito Sans', sans-serif;;
    color: white;
    font-size: 3rem;
}
.loginInstruction{
    max-width: 24.325rem;
    margin-top: 1.5rem;
}

.inputLogin{
    margin-top: 1rem;
    height: 2.75rem;
    width: 24.325rem;
    padding: 0 1rem;
    font-size: 1.2rem;
    background-color: #d2dbff;
    box-shadow: black 0px 4px 15px -7px;
    border-radius: 10px;
    border: none;
}
.forgotMyPass{
    margin-top: .3rem;
    color: white;
    align-self: flex-start;
    font-family: 'Roboto';
    text-decoration: underline #6d98fb;
}

.btnSendLogin{
    width: 24.325rem;
    height: 2.75rem;
    border-radius: 10px;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background-color: #6d98fb;
    border: none;
    box-shadow: black 0px 4px 15px -7px;
    font-family: 'Poppins';

}
.loginLine{
    width: 24.325rem;
    height: 1px;
    background-color: white;
    margin-top: 2rem;
}

.btnCadaster{
    background-color: #00CC54;
    width: 13.75rem;
    height: 2.75rem;
    border-radius: 10px;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    border: none;
    box-shadow: black 0px 4px 15px -7px;
    font-family: 'Poppins';
}


@media (max-width: 800px) {
    .logoText{
        font-size: 4.5em;
    }
    .logoIcon{
        width: 10rem;
        left: 3em;
    }
    .loginDescription{
        font-size: 1.2em;
        max-width: 80%;
    }
    .formLogin{
        max-width: 80%;
    }
    .loginDescriptionAndForm{
        max-width: 80%;
    }
    .inputLogin{
        max-width: 100%;
    }
    .btnSendLogin{
        max-width: 100%;
    }
    .loginLine{
        max-width: 100%;
    }
    .btnCadaster{
        max-width: 100%;
    }
  }
