@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&family=Roboto:wght@100&display=swap');

.sessoesMain{
    font-family: "Darker Grotesque";
    position: relative;
    padding: 0 0 30px 0;
}

.filmeSection{
    background: linear-gradient(0deg, rgba(0,38,77,1) 0%, rgba(1,17,33,1) 100%);
    min-height: 50vh;
    box-shadow: 0px 25px 20px 15px rgba(0,38,77,1);
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    color: white;
    gap: 2em;
    font-family: "Darker Grotesque";
}

.image{
    width: 300px;
    margin: 50px 0 0 50px;
    border-radius: 10px;
}

.moviesInfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.classificacaoEtaria{
    display: flex;
    align-items: center;
    gap: 1em;
}

.classificacaoEtaria h1 {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
}

.classificacaoEtaria h4{
    background-color: #FBC115;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 15px;
}

.moviesInfo h2{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 30px;
    letter-spacing: 4%;
    line-height: 25px;
    max-width: 45%;
    color:rgb(190, 177, 177);
}

.selectArea{
    display: flex;
    gap: 1em;
}

.selectArea select{
    width: 23vw;
    background-color: rgb(22, 22, 138);
    color: white;
    border: none;
    padding: 10px;
    font-size: 15px;

}


.sessionType button{
    padding: 10px 20px;
    border-radius: 25px;
    color: #0066CC;
    border: 2px solid #0066CC;
    background: none;
    margin-right: 10px;
    margin-bottom: 30px;
}


.sessionType button:hover{
    color: #cbced1;
    transition: 0.25s;
    background-color: #041c35;
}
.clockSession{
    margin-left: 50px;
}

.sessionTime{
    display: flex;
    flex-direction: column;
    background-color: #141414;
    width: 60%;
    padding: 20px;
    margin-bottom: 30px;
}

.clocks button{
    padding: 15px 25px;
    border-radius: 5px;
    color: #0066CC;
    border: 2px solid #0066CC;
    background: none;
    margin-right: 10px;
    margin-bottom: 30px;
}   

.sessionTime h3 {
    padding: 0.3em 1em;
    background-color: #FBC115;
    max-width: min-content;
    border-radius: 5px;
    margin-bottom: 0.8em;
}

.clocks button:hover{
    color: #cbced1;
    transition: 0.25s;
    background-color: #041c35;
}
.selectDecor{
    height: 3.25rem;
    transform: translateX(100%);
}
.placeChoose{
    background-color: #00557B;
    width: 19.375rem;
    height: 3.25rem;
    font-size: 1.25rem;
    color: white;
    border: none;
    padding: 1rem;
    margin-right: 2rem;
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
}

.styleForFilters{
    display: flex;
    overflow: hidden;
    border-radius: 11px;
    
}
.styleForFilters::before{
        display: flex;
        content: "";
        width: 16px;
        height: 3.25rem;
        background-color: #0066CC;
}

.filtersSections{
    display: flex;
    align-items: center;
}

.classificacaoEtaria img{
    width: 3.5em;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.selected{
    color: #000305;
    border: 2px solid #0066CC;
    background-color: azure;
}  

@media (max-width: 1000px){
    .moviesInfo h2{
        max-width: 70%;
    }
    .sessionTime {
        width: 85%;
    }
}
@media (max-width: 800px){
    .filmeSection {
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .moviesInfo{
        align-items: center;
        margin: 0;
    }
    .image {
        margin: 2.8em 0 0 0;
    }

    .clockSession{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        margin: auto;

    }
}




