@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Darker+Grotesque:wght@300;400;500;600;700&family=Inter&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

.mainRegistro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    max-width: 80%;
    margin: 0 auto;
}
/* .mainRegistro::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../Assets/Fundo-Ingresso.svg);
    background-repeat: repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.16;
} */
h1{
    color: white;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    max-width: 59.5rem;
    margin-top: 4rem;
    font-weight: 500;
}
h5{
    font-family: 'Roboto', sans-serif;   
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 59.5rem;
    line-height: 1.75rem;
}
.form{
    height: 49rem;
    width: 59.5rem;
    background-color: #004a9b;
    margin-bottom: 4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.titleRegistro{
    color: white;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    max-width: 59.5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-weight: 500;
} 
.inputRegister{
    margin-top: 1rem;
    height: 2.75rem;
    width: 32.5rem;
    padding: 0 1rem;
    font-size: 1.2rem;
    background-color: #d2dbff;
    box-shadow: black 0px 4px 15px -7px;
    border-radius: 10px;
    border: none;
}
.btnRegistrar{
    margin: 5% 0% 5% 0%;
    width: 10em;
    height: 3em;
    border-radius: 8px;
    background-color: #6D98FB;
    color: #F3F3F3;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-size: 1.3em;
    letter-spacing: 2px;
    border: none;

}
dialog::backdrop{
    background-color: rgb(0 0 0 / .5);

}
dialog{
    box-shadow: 0 0 1rem rgb(0 0 0 /.3);
    display: revert;
}
.modalRegister{
    padding: 2rem;
    max-width: 48rem;
    background-color: #009A95;
    border-radius: 16px;
    color: white;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.25rem;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.modalText h2{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1.5rem;
    
}
.modalText{
    word-wrap: break-word;
    margin-left: 2rem;
}
.modalText p:nth-of-type(2){
    margin-top: 1rem;
    
}
.positionItemsModal{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.positionItemsModal button{
    align-self: start;
    border: none;
    border-radius: 50%;
    color: black;
    background-color: rgb(34, 34, 34);
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
    flex: none;
    background-position: center;
    background-image: url("../assets/Group 45.svg");
}
@media (max-width: 1100px) {
    .form {
        width: 100%;
    }
    .inputRegister{
        width: 90%;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 2em;
    }
}

