.slide_container {
    width: 90%;
    margin-top: 3em;
}

.swipe{
    display: flex;
    justify-content: center;
}

.slide_item {
    width: 100%;
}

.next {
    background-image: url("../assets/Right.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.next::after {
    display: none;
  }